body{
    font-family: 'Poppins', sans-serif;
}
.up{
    background: url(../images/top-banner.png) no-repeat;
}
.up-contant h2{
    font-size:50px;
    margin:50px 0;  
}
.up-contant p{
    color: dimgray; 
}
.up-contant h2 span{
    color:orange;
}
.up-contant a{
    padding:10px 40px;
    color:#fff;
    background: linear-gradient(45deg, lightsalmon , tomato);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.down{
    background:url(../images/dream-bg.png) no-repeat;
    background-position: right;
}
.down-contant h2{
    font-size: 40px;
    margin:40px 0;
    font-weight: 500;
}
.down-contant a{
    padding:10px 40px;
    color:#fff;
    background: linear-gradient(45deg, lightsalmon , tomato);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.full-stack{
    box-shadow: 5px 7px 40px grey;
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    height: 80%;
}
.full-stack h1{
    font-size: 40px;
    margin:30px 0;
}
.full-stack h3{
   color: orange;
   font-size: 22px;
}